*.csv
*.json
*.geojson
*.lock

*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints

dask-worker-space/

large_files.zip

core
crtm_poll_data
estimators/core
fetch_log_parsed
fetch_log_parsed_20200317
fetch_log_parsed_20200418
fetch_log_preanalysis/fetch_log
gtfs/stop_times.txt
gtfs/shapes.txt
gtfs.zip
m8_postes.json
out
out_parsed
out_parsed_20200317
out_parsed_20200418
out_parsed_short
out_parsed_test_1s
stops_selection/gtfs.zip
stops_selection/gtfs/stop_times.txt
stops_selection/gtfs/shapes.txt
